<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p> Hi!!!! Guys My name is manish, and i have recently graduated from college, i was an engineering student, i love to eat,sketch,write and watch anime and music is my fav thing, nice to meet you all</p>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>